html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ol, ul {
  list-style: none;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }


  .heading-tittle h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .heading-tittle h3{
    font-size: 15px;
    color: #ffE600;
    text-transform: uppercase;
  }

/* HEADER-SECTION */

      header{
        background-image: url('../img/bg1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px 0;
        position: relative;
      }
          
      .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
            
      .banner-tittle h3{
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        
      }
      .banner-tittle h1{
        margin-top: 40px;
        color: #FFE600;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 0.05em;
      }
      .banner-tittle img{
        max-width: 100px;
        height: 100px;
        text-align: center;
        margin-bottom: 50px;
        }

        .btn{
          color: #fff;
          margin: 80px auto;
          padding: 15px 50px;
          border: 1px solid #FFE600;
          border-radius: 0;
          outline: none;
          display: block;
          position: relative;
          z-index: 1;
          -webkit-transition: .6s;
          -moz-transition: .6s;
          -ms-transition: .6s;
          -o-transition: .6s;
          transition: .6s;
        }
        .btn:focus{
          box-shadow: none;
        }
        .btn::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;  
          background: #ffE600;    
          transform: translate(-50%, -50%);
          -webkit-transition: .6s;
          -moz-transition: .6s;
          -ms-transition: .6s;
          -o-transition: .6s;
          transition: .6s;
          z-index: -1;
         }
         .btn-lg::before{
           width: 0;
           height: 0;
         }
         .btn:hover::before{
           width: 100%;
           height: 100%;
         }
         .btn:hover{
           color: #000;
         }

         .icon i{
          position: relative;
          display: block;
          margin: 0 auto;
          width: 40px;
          height: 40px;
          font-size: 50px;
          color: #fff;
          animation: play 1s infinite;
         }
         @keyframes play {
          0%   {top: 5%;}
          100% {top: 100%;}
        }








.navbar {
    padding: 20px 0;
   
    border-bottom: 1px solid #ffE600; 
  }
.img-fluid img{
    max-width: 150px;
    height: 50px;
    text-align: center;
    }
.navbar .nav-link {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 16px;
    transition: .6s;
    padding: 15px 30px !important;
    text-transform: uppercase;
  
  }
.navbar .nav-link:hover,
.navbar .nav-link:active {
      color: #000 !important;
      border: 1px solid #ffE600;
     }



/*About-section here*/

.about-section{
  padding: 100px 0;
}
.about-heading h2 {
  color: #ffE600;
  font-weight: 300;
  margin-right: 20px;
}
.about-heading h5 {
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 2;
	padding-left: 20px;
	border-left: 1px solid #ffE600;
}
.tittle {
	max-width: 250px;
	margin: auto;
	padding-top: 30px;
}
.tittle p{
  font-weight: 300;
  text-align: center;
  color: #8e8e8e;
  font-size: 14px;
}



/* IMG-SECTION */

.img-section {
    background-image:url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    overflow: hidden;
}
  .img-section::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f5de0fe0;
    z-index: 1;
    overflow: hidden;
  }

.img-content{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.img-content-tittle{
  z-index: 2;
}
.img-content-tittle h2{
  max-width: 700px;
  margin: auto;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 40px;
  font-size: 25px;
  color: #131316;
  text-transform: uppercase;
  text-align: center;
}
.img-content-tittle h3{
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}








/*PORTFOLIO_SECTION */
.portfolio-section {
  padding: 100px 0;
 }
.portfolio-section .img-box {
    position: relative;
    overflow: hidden;
    transition: .5s; 
    margin-bottom: 20px;
  }
.img-box::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 0;
    background: #f5de0fe0;
    transition: .5s; 
  }
 .img-box:hover::after {
    height: 100%; 
  }

.img-box:hover .img-content h2 {
    transform: translateY(0);
    transition-delay: .1s;
   }
.img-box:hover .img-content p {
    transform: translateY(0);
    transition-delay: .2s;
   }
.img-box img {
    object-fit: cover; 
  }
.img-box .img-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
  }
.img-box .img-content h2 {
      color: #000;
      transition: .5s;
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 5px;
      transform: translateY(200px);
     }
.img-box .img-content p {
      color: #fff;
      text-transform: uppercase;
      transition: .5s;
      font-size: 16px;
      margin-bottom: 5px;
      transform: translateY(200px);
     }






/*CLIENT_SECTION*/

.client-section{
  padding: 150px 0;
  background-image: url('../img/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.client-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.client-section h1{
  color: #fff;
}

.client-section h3{
  color: #f8e113;
}
.client-section img{
 max-width: 100px;
 max-height: 60px;
}


/* CONTACT-SECTION */

.contact-section .form-control{
  background: #f5de0fe0;
  padding: 15px 10px;
  border-radius: 0;
  color: #495057;
}
.contact-section .form-control::placeholder{
  color:#fff;
}
.form-control:focus {
  color: #495057;
  background-color: #f8e113;
  border: 1px solid #000;
  outline: 0;
  box-shadow: none;
}
.contact-section .btn{
  background: #000;
  margin-top: 10px;
  color: #f8e113;
  font-size: 20px;
  transition: .6s;
  text-transform: uppercase;
}

.contact-section .btn:hover{
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

/* FOOTER-SECTION */
.copyright{
  background: #000 !important;
}
.copyright p{
  color: #f8e113;
  font-size: 15px;
  line-height: 3;
}
.copyright p a {
  color: #fff;
  transition: .6s; 
}
.copyright p a:hover {
    color: #f8e113 
  }
.copyright ul {
  display: flex;
  justify-content: end; 
}
.copyright ul li {
  width: 35px;
  height: 35px;
  margin: 0 20px;
  transition: .6s;
 }
.copyright ul li:hover {
  border: 1px solid #f8e113; 
  
}
.copyright ul li a {
  color: #fff;
  line-height: 2.2;
  transition: .6s; 
}
.copyright ul li a:hover{
  color: #f8e113 
}
@media (max-width: 991px) {
  .header .carousel-caption h1 {
    font-size: 35px; } }
@media (max-width: 767px) {
  .btn{
    margin: 20px a;
  }

header{
  padding: 100px 0;
}
  .banner-tittle h1{
    margin-top: 30px;
    font-size: 30px;
  }

  .navbar {
    padding-top: 20px; }


    .img-section{
      padding: 100px 0;
    }
    .img-content-tittle h2{
      font-size: 18px;
    }
    .img-content-tittle h3{
      margin-top: 10px;
    }

  .gallary-section .img-box {
    margin-bottom: 20px;
   }

    .about-section .col-md-4{
      margin-bottom: 40px;
    }
    .about-section .tittle{
      padding-top: 10px;
    }


    .client-section{
      padding: 100px 0;
    }
    .client-section .logo-box {
      text-align: center;
      margin-bottom: 50px;
  }



  .contact-section .btn{
    margin: 20px auto;
  }

  .copyright .center {
    text-align: center !important; }
  .copyright ul {
    justify-content: center;
    margin-top: 20px; }
 }

/*# sourceMappingURL=style.css.map */


/*# sourceMappingURL=style.css.map */
